.All-result {
    align-items: center;
    width: 100rem;
}

.title {
    width: 46rem;
}

.description {
    width: 46rem;
    color: #AAAAAA;
    margin-top: 1rem;
}

.img-video-box {
    display: flex;
}

@media screen and (min-width: 1263px) {
    .All-result {
        align-items: normal;
        width: 72vw !important;
        height: 42vh;
    }

    .title {
        width: 30rem;
    }

    .description {
        width: 30rem;
    }
}

@media only screen and (max-width: 768px) {
    .All-result {
        align-items: normal;
        width: 75vw !important;
        height: 45vh;
    }

    .title {
        width: 50vw !important;
    }



    .img-video-box {
        display: block;
    }

    .description {
        display: none;
    }

}